@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #11324d;
  text-align: center;
  overflow-y: scroll;
}

h1 {
  font-family: "Lobster", cursive;
  color: #fff;
  margin-bottom: 30px;
}
main {
  box-shadow: 0px 4px rgba(104, 102, 102, 0.2),
    0px -4px rgba(104, 102, 102, 0.2);
  padding: 30px;
  border: 1px solid #413c69;
  border-radius: 5px;
  width: 500px;
  min-height: 300px;
  background: #f38ba0;
}

.box {
  position: relative;
}

#input {
  padding: 7px;
  border: 2px solid #c996cc;
  width: 100%;
  text-transform: capitalize;
  font-weight: 600;
  font-size: 1.2rem;
}

#input:focus {
  outline: 0;
}

ul {
  margin-top: 15px;
  width: 100%;
}

li {
  list-style: none;
  color: #fff;
  padding: 8px;
  cursor: pointer;
  text-align: start;
  position: relative;
  text-transform: capitalize;
}

li.completed {
  text-decoration: line-through;
}

.add {
  position: absolute;
  top: 0%;
  right: 2px;
  font-size: 1.9rem;
  padding: 2px;
  color: #fff;
  display: grid;
  place-items: center;
  cursor: pointer;
  transition: all 0.1s linear;
  color: #1c1d25;
}

.add:hover {
  color: #f06047;
}

.icon {
  position: absolute;
  right: 10px;
  font-size: 1.2rem;
}

#complete {
  display: inline-block;
  margin: 0 10px;
  z-index: 100;
}

#delete {
  margin: 0 10px;
  z-index: 100;
}

#complete:hover {
  color: rgb(48, 155, 48);
}

#delete:hover {
  color: rgb(206, 59, 59);
}
